body {
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, rgb(52, 53, 53) 60%, rgb(143, 141, 141) 60%);
  font-family: 'Luckiest Guy', cursive;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-stretch:wider;
}

.container {
  display: grid;
  grid-template-columns: 20;
  grid-template-rows: 20;
  grid-template-columns: repeat(20, 25px);
  grid-template-rows: repeat(20, 25px);
  background-color: rgb(0, 0, 0);
}

.grid {
  display: grid;
  border: 1px dotted rgb(83, 83, 83)
}

.snake {
  background-color: rgb(0, 128, 0);
  border: 1px dotted
}

.apple {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
}

h2, h3 {
  text-align: center;
}

#gameOver {
  position: absolute;
  visibility: hidden; 
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(243, 245, 109);
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#restart {
  padding: 10px 30px;
  background-color: rgb(243, 245, 109);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  text-decoration: solid;
}




